<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.2.1" targetFramework="net45" />
  <package id="CompareNETObjects" version="3.01.0.0" targetFramework="net45" />
  <package id="Humanizer" version="1.31.0" targetFramework="net45" />
  <package id="jQuery" version="1.8.0" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.13.1" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="NHunspell" version="1.2.5359.26126" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="SharpSerializer" version="2.20" targetFramework="net45" />
  <package id="Should" version="1.1.20" targetFramework="net45" />
</packages>