@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The parser doesn't look like much, but it translates tp text into C# data structures. From this I can do a variety of experiments, such as sentence diagramming, glossing to english, spell checking, and grammar checking.</p>

