
@{
    ViewBag.Title = "Bracket Help";
}

<h2>Bracket Help</h2>
<ul>
    <li><b>[subject]</b> - Everything right of the li.</li>
    <li><b>&lt;predicate&gt;</b> - the verb or noun phrase after li</li>
    <li><b>\modal/</b></li>
    <li><b>%verb</b> - the head verb</li>
    <li><b>\adverb/</b> - things following the head verb</li>
    <li><b>(modifiers)</b> - words after a head</li>
    <li><b>, preposition</b> - forces parser to read word as preposition</li>
    <li><b>#number</b> - forces parser to read word as number</li>
    <li><b>jan-pona</b> - compound phrase, i.e. noun and verb phrases that must gloss as a single unit to be coherent.</li>
    <li><b>~preposition</b> - internal/alternative symbol for marking prepositions</li>
    <li><b>(- simple chain -)</b> - phrases all joined by the same particle</li>
    <li><b>{ complex chain }</b> - simple chains joined by another particle</li>
    <li><b>[{(- sina -) en (- jan (ante) pi toki-pona -)}]</b>-- brackets for a en/pi chain.</li>
    <li><b>|taso|</b> - "tag conjunction"</li>
    <li><b>{kin} la</b> - la fragment(s)</li>
    <li><b>+wala</b> - Explicit neologism</li>
</ul>

