
@{
    ViewBag.Title = "ChangeLog";
}
<h2>Big things not implemented</h2>
<ol>
    <li>Bracket reduction (currently show brackets for chains, complex chains, etc even if it's all boxing a single word)</li>
    <li>en and anu as alternatives for direct objects, prepositions, and other uses</li>
    <li>Direct quotes are broken</li>
    <li>In-sentence vocative chains (i.e. jan Mato o jan Pija o, sina mute li jan pona kin!)</li>
</ol>
<h2>Recently Fixed</h2>
<ol>
    <li>Questions, tag & x ala x (treated like tas or conjunctions)</li>
    <li>Negatives, Intensifier (treated as word tags, a sort of phrasal morphology)</li>
    <li>Serial verbs (kama/tawa etc)</li>
    <li>Conjunctions (only as pre-sentence tags, not as logic)</li>
    <li>Inferring and Glossing numbers</li>
    <li>Modals (ken, wile)</li>
</ol>

