@{
    ViewBag.Title = "Serializations";
}
<h2>Serializations</h2>
<p>These are not primarily intended to be read by humans.</p>

<h2>Xml</h2>
<pre>
    @Model.Xml
</pre>

<h2>Json</h2>
<pre>
    @Model.Json
</pre>
