
@{
    ViewBag.Title = "Strict Mode";
}
<h2>How to Write for Strict Mode</h2>
<p>In loosey goosey mode you write what ever and I try to figure out what you meant. I'm often wrong.</p>

<p>In strict mode, you annote your text enough for the parser to detect numbers, neologisms, foreign words, prepositions and so on.</p>

<h2>Rules</h2>
<ol>
    <li>Numbers are prefixed with #, e.g. #luka li nanpa.</li>
    <li>Neologisms are prefixed with +, e.g. +nupa li nimi sin.</li>
    <li>Foreign words are wrapped in double quotes, e.g. "Cromulent"</li>
    <li>Prepositions are lead by a comma, e.g. mi, lon ma Mewika. jan li, tawa ma Mewika.</li>
    <li>Prepositions can also start with ~, e.g. ~lon, ~sama, ~poka</li>
    <li>Compound words are joined by -, e.g. jan-pona</li>
    <li>Direct quotes are in single quotes, e.g. jan li toki e ni: 'ale li pona.'</li>
</ol>


